    <form [formGroup]="checkoutForm" (ngSubmit)="goResults(checkoutForm.value)">

      <div class="total-container" id="container" [ngClass]="status ? 'right-panel-active' : 'danger'">
        <div class="form first-step-container">
          <div class="gender">
            <h1>To which gender identity does the receiver most identify?</h1>
            <div class="toggle-radio" data-style="rounded" data-color="red">
              <input type="radio" id="female" value="female" name="gender" formControlName="gender">
              <label for="female">Female</label>

              <input type="radio" id="male" value="male" name="gender" formControlName="gender">
              <label for="male">Male</label>

              <input type="radio" id="non-binary/third gender" value="non-binary/third gender" name="gender"
                formControlName="gender">
              <label for="non-binary/third gender">Non-binary/third gender</label>
            </div>
          </div>
          <div class="age">
            <h1>What is the receiver's age?</h1>

            <div class="toggle-radio" data-style="rounded" data-color="red">
              <input type="radio" id="baby" value="baby" name="age" formControlName="age">
              <label for="baby">Baby/Toddler</label>

              <input type="radio" id="child" value="child" name="age" formControlName="age">
              <label for="child">Child</label>

              <input type="radio" id="teen" value="teen" name="age" formControlName="age">
              <label for="teen">Teenager</label>

              <input type="radio" id="adult" value="adult" name="age" formControlName="age">
              <label for="adult">Adult</label>

              <input type="radio" id="senior" value="senior" name="age" formControlName="age">
              <label for="senior">Senior</label>
            </div>
          </div>
          <div class="cost">
            <h1>How much do you want to spend?</h1>

            <div class="slider">
              <div class="range-slider">
                <input type="text" class="js-range-slider" value="" />
              </div>
              <div class="extra-controls">
                <div class="cost-from">
                  <label class="js-input-from" for="js-input-from">From</label><br>
                  <span class="textbox-from">CAD</span>
                  <input type="text" class="js-input-from" name="js-input-from" value="0" />
                </div>
                <div class="cost-to">
                  <label class="js-input-to" for="js-input-to">To</label><br>
                  <span class="textbox-to">CAD</span>
                  <input type="text" class="js-input-to" name="js-input-to" value="0" />
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="form second-step-container">
          <h1>Tell us some of the receiver's hobbies:</h1>
          <label class="categories" style="background-color:#{{bgBook}}">
            <input type="checkbox" value="book" id="book" name="book" class="hobby" formControlName="book"
              (click)="toggleIcon($event.target)">
            <fa-icon icon="{{iconBook}}"></fa-icon> Book, Comics & Manga
          </label>
          <label class="categories" style="background-color:#{{bgCA}}">
            <input type="checkbox" value="cA" id="cA" name="cA" class="hobby" formControlName="cA"
              (click)="toggleIcon($event.target)">
            <fa-icon icon="{{iconCA}}"></fa-icon>Clothing & Accessories
          </label>
          <label class="categories" style="background-color:#{{bgEDS}}">
            <input type="checkbox" value="eDS" id="eDS" name="eDS" class="hobby" formControlName="eDS"
              (click)="toggleIcon($event.target)">
            <fa-icon icon="{{iconEDS}}"></fa-icon> Eat, Drink & Smoke
          </label>
          <!-- <label class="categories" style="background-color:#{{bgFPF}}">
            <input type="checkbox" value="fPF" id="fPF" name="fPF" class="hobby" formControlName="fPF"
              (click)="toggleIcon($event.target)">
            <fa-icon icon="{{iconFPF}}"></fa-icon> Friends, Partner & Family
          </label> -->
          <label class="categories" style="background-color:#{{bgHB}}">
            <input type="checkbox" value="hB" id="hB" name="hB" class="hobby" formControlName="hB"
              (click)="toggleIcon($event.target)">
            <fa-icon icon="{{iconHB}}"></fa-icon> Health & Beauty
          </label>
          <label class="categories" style="background-color:#{{bgHG}}">
            <input type="checkbox" value="hG" id="hG" name="hG" class="hobby" formControlName="hG"
              (click)="toggleIcon($event.target)">
            <fa-icon icon="{{iconHG}}"></fa-icon> Home & Garden
          </label>
          <!-- <label class="categories" style="background-color:#{{bgGPC}}">
            <input type="checkbox" value="gPC" id="gPC" name="gPC" class="hobby" formControlName="gPC"
              (click)="toggleIcon($event.target)">
            <fa-icon icon="{{iconGPC}}"></fa-icon> Geeky and Pop Culture
          </label>
          <label class="categories" style="background-color:#{{bgMusic}}">
            <input type="checkbox" value="music" id="music" name="music" class="hobby" formControlName="music"
              (click)="toggleIcon($event.target)">
            <fa-icon icon="{{iconMusic}}"></fa-icon> Music
          </label>
          <label class="categories" style="background-color:#{{bgPet}}">
            <input type="checkbox" value="pet" id="pet" name="pet" class="hobby" formControlName="pet"
              (click)="toggleIcon($event.target)">
            <fa-icon icon="{{iconPet}}"></fa-icon> Plants and Pets Supplies
          </label>
          <label class="categories" style="background-color:#{{bgSports}}">
            <input type="checkbox" value="sports" id="sports" name="sports" class="hobby" formControlName="sports"
              (click)="toggleIcon($event.target)">
            <fa-icon icon="{{iconSports}}"></fa-icon> Sports & Fitness
          </label>
          <label class="categories" style="background-color:#{{bgTech}}">
            <input type="checkbox" value="technology" id="technology" name="technology" class="hobby"
              formControlName="technology" (click)="toggleIcon($event.target)">
            <fa-icon icon="{{iconTech}}"></fa-icon> Technology & Gadgets
          </label>
          <label class="categories" style="background-color:#{{bgTPB}}">
            <input type="checkbox" value="tPB" id="tPB" name="tPB" class="hobby" formControlName="tPB"
              (click)="toggleIcon($event.target)">
            <fa-icon icon="{{iconTPB}}"></fa-icon> Toys, Puzzles & Boardgames
          </label>
          <label class="categories" style="background-color:#{{bgTravel}}">
            <input type="checkbox" value="travel" id="travel" name="travel" class="hobby" formControlName="travel"
              (click)="toggleIcon($event.target)">
            <fa-icon icon="{{iconTravel}}"></fa-icon> Travel
          </label>
          <label class="categories" style="background-color:#{{bgVideogame}}">
            <input type="checkbox" value="videogame" id="videogame" name="videogame" class="hobby"
              formControlName="videogame" (click)="toggleIcon($event.target)">
            <fa-icon icon="{{iconVideogame}}"></fa-icon> Videogame
          </label> -->
          <br>
          <button type="submit" class="submit-btn">See gifts</button>
        </div>
        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-panel overlay-left">
              <h1>Great! Now we just need to figure out the hobbies!</h1>
              <p>Do you remember what does the receiver likes to do?</p>
              <span class="ghost custom-button" id="signIn" (click)="clickEvent()">Sign In</span>
            </div>
            <div class="overlay-panel overlay-right">
              <h1>Tell us about the person you are giving the gift.</h1>
              <p>This way we can find the better present!</p>
              <span class="ghost custom-button" id="signUp" (click)="firstStepClick(checkoutForm.value)">Sign Up</span>
            </div>
          </div>
        </div>
      </div>
      <div id="popup1" class="alert">
        <div class="popup">
          <h2>Please enter the persons age and gender.</h2>
          <a class="close" href="#" (click)="closeAlert()">&times;</a>
          <div class="content">
            This is important so we can offer you better results.
          </div>
        </div>
      </div>
      <div id="popup2" class="alert">
        <div class="popup">
          <h2>Please enter the persons gender.</h2>
          <a class="close" href="#" (click)="closeAlert()">&times;</a>
          <div class="content">
            This is important so we can offer you better results. </div>
        </div>
      </div>
      <div id="popup3" class="alert">
        <div class="popup">
          <h2>Please enter the persons age. </h2>
          <a class="close" href="#" (click)="closeAlert()">&times;</a>
          <div class="content">
            This is important so we can offer you better results. </div>
        </div>
      </div>
    </form>
